body{
    background: url(/Users/belikewatermyfriend/Dropbox/Hobbies/Front-End%20Web%20Development/C1/OnlineCV/Images/Background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 6%;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-style: oblique;
    text-align: center;
    color: rgb(6, 6, 119);
}
figure img{
    width: 25%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
nav a{
    background-color: rgb(255, 255, 255, .5);
    display: inline-block;
    height: 20px;
    width: 20px;
    padding: 8%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    transition-duration: .5s;
    transition-timing-function: .5s;
    transition-delay: .2s;
}
#current{
    background-color: rgb(255, 255, 255, .8);
}
nav a:hover{
    background-color: rgb(255, 255, 255);
    padding: 9%;
    transition-duration: .5s;
    transition-timing-function: .5s;
    transition-delay: .2s;
}
figcaption{
    text-align: center;
}
h2{
    color: rgb(9, 9, 139);
}
h3{
    color: rgb(6, 6, 119);
}
ul{
    line-height: 150%;
    list-style-type: square;
}
p{
    line-height: 150%;
    text-align: justify;
}
table{
    border: solid;
    border-collapse: collapse;
}
.ft{
    display: inline-flex;
}
#address{
    background-image: url(/Users/belikewatermyfriend/Dropbox/Hobbies/Front-End%20Web%20Development/C1/OnlineCV/Images/address.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40%;
    color: rgb(255, 255, 255, 0);
    transition: .8s;
    padding: 5%;
    float: left;
}
#address:hover{
    background-size: 20%;
    color: rgb(0, 0, 0);
    opacity: 1;
    transition: .8s;
    text-align: left;
}
#phone{
    background-image: url(/Users/belikewatermyfriend/Dropbox/Hobbies/Front-End%20Web%20Development/C1/OnlineCV/Images/phone-call.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 35%;
    color: rgb(255, 255, 255, 0);
    transition: .8s;
    padding: 6%;
    float: left;
}
#phone:hover{
    background-size: 15%;
    color: rgb(0, 0, 0);
    opacity: 1;
    transition: .8s;
    text-align: left;
}
#email{
    background-image: url(/Users/belikewatermyfriend/Dropbox/Hobbies/Front-End%20Web%20Development/C1/OnlineCV/Images/email.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40%;
    color: rgb(255, 255, 255, 0);
    transition: .8s;
    padding: 22%;
    float: left;
}
#email:hover{
    background-size: 15%;
    padding: 10%;
    color: rgb(0, 0, 0);
    opacity: 1;
    transition: .8s;
    text-align: left;
}
#linkedin{
    background-image: url(/Users/belikewatermyfriend/Dropbox/Hobbies/Front-End%20Web%20Development/C1/OnlineCV/Images/linkedin.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 18%;
    text-align: center;
    padding: 1%;
    transition: .8s;
    width: 40%;
    color: rgb(255, 255, 255, 0);
    float: right;
}
#linkedin figure{
    width: 50%;
    margin-left: 0px;
    opacity: 0;
    transition: .8s;
}
#linkedin:hover, #linkedin figure:hover{
    background-size: 10%;
    color: rgb(0, 0, 0);
    opacity: 1;
}
footer{
    display: inline-block;
}
